<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--<add key="DbConnString" value="server=./SQLEXPRESS;database=PlayerProfile;trusted_connection=true"/>-->
    <add key="DBConnection" value="Persist Security Info=False;Integrated Security=true;Initial Catalog=PlayerProfile;
         Server=.\SQLEXPRESS" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehaviour">
          <webHttp defaultBodyStyle="WrappedRequest" automaticFormatSelectionEnabled="false"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Rajaraman.PlayerProfile.Service.PlayerProfileJsonService">
        <endpoint address="" behaviorConfiguration="restfulBehaviour" binding="webHttpBinding" name="restEndPoint"
                  contract="Rajaraman.PlayerProfile.Service.IPlayerProfileJsonService">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
